body {
  padding: 0;
  text-align: center;
  background-image: url(../images/cluster.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
}

#game-intro {
  margin-top: 100px;
  padding: 20px 0px;

  font-family: "Trispace", sans-serif;
}

#game-container {
  display: grid;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
  margin-top: 60px;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.instructions {
  color: white;
  font-size: 15px;
  letter-spacing: 0.2rem;
}

#game-end {
  display: none;
  margin-top: 150px;
}

#time-score {
  display: none;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  font-family: "Trispace", sans-serif;
  font-size: 34px;
  color: white;
}

.text {
  font-family: "Trispace", sans-serif;
  font-size: 70px;
  color: violet;
  font-weight: 1200px;
}

.text-mini {
  font-family: "Trispace", sans-serif;
  font-size: 20px;
  color: white;
}

#black-hole {
  height: 300px;
}
#timeRemaining {
  text-align: center;
  margin-top: 35px;
}

#score {
  text-align: center;
}

#game-name {
  font-size: 75px;
  font-family: "Galactic", sans-serif;
  color: violet;
  animation: floatAnimation 3s ease-in-out infinite alternate;
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 25px;
  background-color: transparent;
  color: #3654ff;
  padding: 10px 32px;
  border: 2px solid #3654ff;
  box-shadow: 0;
  /* border-radius: 5px; */
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Trispace", sans-serif;
}

body button:hover {
  border: 2px solid rgb(255, 253, 253);
  color: rgb(255, 253, 253);
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
